###### CMake ######
MakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
cmake-build-debug/
install_manifest.txt
CTestTestfile.cmake
build/src/
build/CMakeCache.txt

###### vim ######
*.swp

###### clion ######
.idea/

build/
